.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-bar {
  background-color: green;
  height: 90px;
}

th {
	background-color: #eee;
}

img {
  max-width: 100%;
  border: 3px solid #ddd;
}

.row-desc {
  width: 30%;
  height: 200px;
  /*vertical-align: middle !important;*/
  text-align: left;
}

.table-btn {
  width: 15%;
  vertical-align: middle !important;
}