.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-bar {
  background-color: green;
  height: 90px;

}

td, th {
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
}

th {
	background-color: #ddd;
}